<header>
  <div class="logo">
    Q-app
  </div>
  <button (click)="menu = !menu">
    Menu
  </button>
  <ul class="menu-list" [class.active]="menu">
    <li>
      <a routerLink="angular"
         (click)="menu = !menu">
        Angular
      </a>
    </li>
    <li>
      <a routerLink="js"
         (click)="menu = !menu">
        JS
      </a>
    </li>
    <li>
      <a routerLink="type-script"
         (click)="menu = !menu">
        TypeScript
      </a>
    </li>
    <li>
      <a routerLink="rxjs"
         (click)="menu = !menu">
        RxJs
      </a>
    </li>
  </ul>
</header>
