<h3>
  О библиотеке
</h3>
<p>
  RxJS представляет собой библиотеку,
  позволяющую управлять всеми асинхронными операциями
  и событиями в приложении в стиле реактивного программирования.
  Она построена на основе паттерна проектирования Observer
  и предусматривает целый ряд операторов для манипуляции
  асинхронными событиями и обработки передаваемых ими данных.
</p>
<p>
  Ключевые понятия RxJS:
</p>
<ul>
  <li>Observable;</li>
  <li>Observer;</li>
  <li>Subject;</li>
  <li>Scheduler;</li>
  <li>Subscription;</li>
  <li>Operator.</li>
</ul>
<p>
  RxJS оперирует объектами Observable,
  которые существуют в нескольких разновидностях
  (Subject, Scheduler) и реализуют принцип push-систем
  передачи данных от "поставщика" к "потребителю".
</p>
<p>
  Помимо push-систем выделяют еще и pull-системы передачи данных.
</p>
<p>
  В pull-системах "потребитель" решает,
  когда получить данные от "поставщика".
  Любая JavaScript функция - яркий пример
  такой системы. Код вызова функции - "потребитель"
  , сама функция - "поставщик".
</p>
<p>
  В случае с RxJS Observable именно отправитель решает,
  когда отправить данные получателю.
  К этому типу push-систем относятся и объекты Promise,
  которые предоставляют данные зарегистрированным
  callback-функциям и инициируют их вызов.
</p>
<p>
  В контексте приложений Angular RxJS
  применяется для выполнения HTTP-запросов,
  отслеживания событий браузера или создания пользовательских событий.
</p>
<p>
  Пример создания простого Observable с использованием оператора fromEvent.
</p>
<pre>
  <code>
    import &#123;fromEvent&#125; from 'rxjs';

    fromEvent(document, 'mousemove').subscribe(ev => &#123;
      console.log('Mouse event: ', ev);
    &#125;);
  </code>
</pre>
<p>
  Здесь регистрируется обработчик, который при движении мыши
  в пределах всего документа в консоль будет выводить полную информации о событии.
</p>
