<div class="page">
  <h2>
    JS
  </h2>
  <ul>
    <li>
      <a [routerLink]="['/js', 'map']">
        Метод .map()
      </a>
    </li>
    <li>
      <a [routerLink]="['/js', 'prototype']">
        Что такое prototype
      </a>
    </li>
    <li>
      <a [routerLink]="['/js', 'call-bind-apply']">
        Что такое контекст this. Как работает call, bind, apply
      </a>
    </li>
    <li>
      <a [routerLink]="['/js', 'closures']">
        Что такое замыкания. Как они работают (+ примеры)
      </a>
    </li>
    <li>
      <a [routerLink]="['/js', 'event-loop']">
        Event Loop
      </a>
    </li>
    <li>
      <a [routerLink]="['/js', 'promise']">
        Promise
      </a>
    </li>
    <li>
      <a [routerLink]="['/js', 'object-setters-getters']">
        Object.create. Что такое getters, setters
      </a>
    </li>
    <li>
      <a [routerLink]="['/js', 'es6-classes']">
        Все о ES6 Классах (+ Практическое Применение)
      </a>
    </li>
    <li>
      <a [routerLink]="['/js','fetch-async-await']">
        Fetch, async, await
      </a>
    </li>
    <li>
      <a [routerLink]="['/js','fetch-xhr-ajax']">
        Fetch, XHR, AJAX
      </a>
    </li>
    <li>
      <a [routerLink]="['/js','local-storage']">
        LocalStorage
      </a>
    </li>
    <li>
      <a [routerLink]="['/js','destructuring']">
        Деструктуризация
      </a>
    </li>
    <li>
      <a [routerLink]="['/js','spread-rest']">
        Spread, Rest
      </a>
    </li>
  </ul>
</div>
