<h3>
  Главная
</h3>
<div class="theme-list">
  <a [routerLink]="['/angular']" class="img-wrap" title="Angular">
    <img src="./assets/img/angular-logo.svg" alt="Angular">
  </a>
  <a [routerLink]="['/js']" class="img-wrap" title="JavaScript">
    <img src="./assets/img/javascript-logo.svg" alt="JS">
  </a>
  <a [routerLink]="['/type-script']" class="img-wrap" title="TypeScript">
    <img src="./assets/img/typescript-logo.svg" alt="TypeScript">
  </a>
  <a [routerLink]="['/rxjs']" class="img-wrap" title="RxJS">
    <img src="./assets/img/rxjs-logo.svg" alt="rxjs">
  </a>
</div>
