<div class="page">
  <h2>
    TypeScript
  </h2>
  <ul class="not-decoration">
    <li>
      <a [routerLink]="['/type-script', 'types']">
        Типы
      </a>
    </li>
    <li>
      <a [routerLink]="['/type-script', 'interfaces']">
        Интерфейсы
      </a>
    </li>
    <li>
      <a [routerLink]="['/type-script', 'function']">
        Функции
      </a>
    </li>
    <li>
      <a [routerLink]="['/type-script', 'classes']">
        Классы
      </a>
    </li>
    <li>
      <a [routerLink]="['/type-script', 'modifiers']">
        Модификаторы
      </a>
    </li>
    <li>
      <a [routerLink]="['/type-script', 'extends']">
        Наследование. Абстрактные классы
      </a>
    </li>
    <li>
      <a [routerLink]="['/type-script', 'generics']">
        Дженерики
      </a>
    </li>
  </ul>
</div>
