<h3>
  Scheduler
</h3>
<p>
  Для управления временем и очередностью
  выполнения операций в объектах Observable, имеются RxJS Schedulers.
</p>
<p>
  Чтобы оценить всю их пользу и эффективность применения,
  необходимо хорошо понимать работу Event Loop в JavaScript в целом:
  выполнение асинхронных операций, очередь микро- и макрозадач, процесс перерисовки DOM.
</p>
<p>
  Особенно важно знать, что и в каком порядке происходит.
  Сперва выполняется текущий синхронный код (callstack),
  далее очередь микрозадач (Promise),
  и если нет другого синхронного кода - очередь макрозадач
  (готовый для исполнения код, обернутый функциями setTimeout()
  и setInterval() или AJAX-запросы).
</p>
<p>
  Также отдельно имеется очередь для задач,
  которые должны выполниться сразу перед
  следующим циклом перерисовки контента.
</p>
<p>
  Учитывая описанное выше, вполне логично,
  что имеются следующие типы RxJS Schedulers:
</p>
<ul>
  <li>
    queue - добавляет операцию в callstack;
  </li>
  <li>
    asap - регистрирует операцию в очереди микрозадач;
  </li>
  <li>
    async - регистрирует операцию в очереди макрозадач;
  </li>
  <li>
    animationFrame - отвечает за действия, выполняемые перед перерисовкой.
  </li>
</ul>
<p>
  Пример:
</p>
<pre>
  <code>
    from(['b', 'c', 'd']).pipe(
     startWith('Queue scheduler', queue)
    ).subscribe(vl => console.log(vl));

    from(['b', 'c', 'd']).pipe(
     startWith('Asap scheduler', asap)
    ).subscribe(vl => console.log(vl));

    from(['b', 'c', 'd']).pipe(
     startWith('Async scheduler', async)
    ).subscribe(vl => console.log(vl));

    from(['b', 'c', 'd']).pipe(
     startWith('Animation frame scheduler', animationFrame)
    ).subscribe(vl => console.log(vl));
  </code>
</pre>
<p>
  В качестве второго необязательного параметра
  большинству операторов
  можно передать объект RxJS Scheduler,
  который переопределяет поведение оператора по умолчанию.
</p>
<p>
  Сама библиотека RxJS написана таким образом,
  что нам практически никогда не приходится менять
  стандартное поведение Observable, задаваемое операторами совместно с Scheduler.
</p>
<h4>
  observeOn()
</h4>
<p>
  Для управления передачей данных,
  в pipe() используйте метод observeOn().
  Он принимает RxJS Scheduler и определяет,
  в каком порядке "потребители" получат данные после их отправления.
</p>
<pre>
  <code>
    console.log('Before');

    of(9).pipe(
     observeOn(async)
    ).subscribe(
     vl => console.log('Value is: ', vl)
    );

    console.log('After');
  </code>
</pre>
<p>
  В примере происходит переопределение синхронной передачи данных на асинхронную.
</p>
<h4>
  subscribeOn()
</h4>
<p>
  В отличие от observeOn(), метод subscribeOn()
  определяет не контекст передачи данных, а контекст
  вызова метода subscribe(). Параметром ему также передается RxJS Scheduler.
</p>
<pre>
  <code>
     console.log('Before');

    of(9).pipe(
     subscribeOn(async)
    ).subscribe(
     vl => console.log('Value is: ', vl)
    );

    console.log('After');
  </code>
</pre>
<p>
  Здесь, несмотря на синхронное выполнение
  объекта RxJS Observable, вызов обработчика
  данных происходит асинхронно, что повторяет
  поведение примера с observeOn().
</p>
