<h3>
  Объекты Subject
</h3>
<p>
  RxJS Subject является разновидностью объектов Observable.
  Особенность Subject в том, что он может отправлять
  данные одновременно множеству "потребителей",
  которые могут регистрироваться уже в процессе исполнения
  Subject, в то время как исполнение стандартного Observable
  осуществляется уникально для каждого его вызова.
</p>
<p>
  Объекты RxJS Subject реализуют принцип работы событий,
  поддерживая возможность регистрировать неограниченное
  количество обработчиков отправляемых ими данных.
</p>
<p>
  Пример:
</p>
<pre>
  <code>
    const sbj = new Subject&lt;number&gt;();

    sbj.subscribe(vl => console.log(`1st: $&#123;vl&#125;`));
    sbj.next(3);
    sbj.subscribe(vl => console.log(`2nd: $&#123;vl&#125;`));
    sbj.next(9);

    /*
    Результат  в консоли:

    1st: 3
    1st: 9
    2nd: 9
    */
  </code>
</pre>
<p>
  Создание происходит с помощью new Subject().
  Далее регистрируются обработчики вызовом метода subscribe(),
  принимающего подобно обычному Observable три функции: next(),
  error() и complete().
</p>
<p>
  Но здесь обработчики исполняются не сразу в момент вызова subscribe(),
  а после обращения к методам next(), error() или complete() самого объекта.
</p>
<p>
  Причем регистрация новых "потребителей" может происходить в любой момент времени.
  Но получать данные они будут уже начиная со следующей рассылки.
</p>
<p>
  Объекты RxJS Subject по умолчанию являются бесконечно исполняемыми,
  так как заранее неизвестно, когда будет вызов complete()
  и будет ли он вызван вообще. Поэтому не стоит забывать про unsubscribe().
</p>
<h4>
  BehaviorSubject
</h4>
<p>
  RxJS BehaviorSubject хранит в себе последнее отправленное им значение.
  Так, каждому новому обработчику в момент регистрации (вызов subscribe()) будет отправлено это значение.
</p>
<p>
  Начальное значение задается в момент создания RxJS BehaviorSubject.
</p>
<pre>
  <code>
    const sbj = new BehaviorSubject&lt;number&gt;(5);

    sbj.subscribe(vl => console.log(`1st: $&#123;vl&#125;`));
    sbj.subscribe(vl => console.log(`2nd: $&#123;vl&#125;`));
    sbj.next(7);

    /*
    Результат  в консоли:

    1st: 5
    2nd: 5
    1st: 7
    2nd: 7
    */
  </code>
</pre>
<h4>
  ReplaySubject
</h4>
<p>
  В отличие от BehaviorSubject объекты RxJS ReplaySubject
  способны хранить заданное количество последних значений
  , которое задается при создании объекта.
</p>
<pre>
  <code>
     const sbj = new ReplaySubject(2);

    sbj.next(5);

    sbj.subscribe(vl => console.log(`1st: $&#123;vl&#125;`));

    sbj.next(6);
    sbj.next(7);

    sbj.subscribe(vl => console.log(`2nd: $&#123;vl&#125;`));

    /*
    Результат  в консоли:

    1st: 5
    1st: 6
    1st: 7
    2nd: 6
    2nd: 7
    */
  </code>
</pre>
<p>
  Все новые "потребители" сразу же получают по очереди все n указанных значений RxJS ReplaySubject.
</p>
<h4>
  AsyncSubject
</h4>
<p>
  В случае с RxJS AsyncSubject "потребителям" передается
  только последнее значение объекта и только,
  когда он завершит свое выполнение (вызов complete()).
</p>
<pre>
  <code>
    const sbj = new AsyncSubject();
    sbj.subscribe(vl => console.log(`Async: $&#123;vl&#125;`));

    sbj.next(7);
    sbj.next(8);
    sbj.next(9);

    setTimeout(() => sbj.unsubscribe(), 3000);

    /*
    Результат  в консоли (по истечении 3 сек):

    Async: 9
    */
  </code>
</pre>
