<h3>
  Dependency injection
</h3>
<p>
  Внедрение зависимости (англ. Dependency Injection, DI) -
  шаблон проектирования, предоставляющий отдельным компонентам программы,
  обычно классам, внешние зависимости в виде других классов или объектов,
  которые передаются аргументами конструктору зависимому от них класса.
  В контексте Angular паттерн находит свое применение в предоставлении
  компонентам или сервисам необходимых им объектов или сервисов.
</p>

<h4>
  Декоратор @Injectable()
</h4>
<p>
  Декоратор @Injectable() указывает,
  что класс будет использоваться в качестве внешней зависимости.
  Необзательным параметром декоратору передается объект с единственным свойством
  providedIn, которое определяет инжекторы,
  которые могут создать экземпляр сервиса.
  Возможные значения свойства providedIn:
</p>
<ul>
  <li>
    'root' - экземпляр сервиса будет создан на уровне приложения
    в корневом инжекторе;
  </li>
  <li>
    'platform' - сервис будет инициализирован в инжекторе платформы;
  </li>
  <li>
    'any' - для каждого асинхронно загружаемого модуля будет создан
    свой экземпляр сервиса, все остальные модули имеют собственный
    один на всех экземпляр.
  </li>
</ul>
<p>
  Пример
</p>
<pre>
  <code>
    @Injectable(
      &#123;
        providedIn: 'root'
      &#125;
    export class DataService&#123;&#125;
  </code>
</pre>
<p>
  Инжектор - это объект,
  который отвечает за поиск и создание зависимости указанным образом
  (правила и порядок создания сервиса определяют Providers).
  В Angular имеется множество инжекторов и все они
  образуют определенную иерархию и тем самым определяют,
  будет ли использован уже существующий экземпляр сервиса
  или будет создан независимый новый.
</p>
<h4>
  Иерархия инжекторов: ModuleInjector
</h4>
<p>
  В Angular различают два типа инжекторов:
</p>
<ul>
  <li>
    ModuleInjector - создается на уровне модуля и
    конфигурируется с помощью декоратора модуля @NgModule() и
    декоратора сервиса @Injectable();
  </li>
  <li>
    ElementInjector - создается пустым по умолчанию для
    каждого элемента DOM и конфигурируется с помощью свойства providers
    в декораторах @Component() и @Directive()
  </li>
</ul>
<p>
  Сервисы ModuleInjector определяются либо при объявлении модуля
  в свойстве providers декоратора @NgModule(), либо заданием свойству
  providedIn декоратора @Injectable() значения root.
</p>
<p>
  Пример объявления сервиса с помощью @Injectable().
</p>
<pre>
  <code>
    @Injectable(&#123;providedIn: 'root'&#125;)
    export class DataService&#123;&#125;
  </code>
</pre>
<p>
  Пример объявления сервиса с использованием @NgModule().
</p>
<pre>
  <code>
     @Injectable()
    export class DataService&#123;&#125;
  </code>
</pre>
<pre>
  <code>
     import &#123;DataService&#125; from './services/data.service';

    @NgModule(&#123;
    ...
    providers: [
      ...
      DataService
    ]
    &#125;)
    export class DataModule&#123;&#125;
  </code>
</pre>
<p>
  Определенные в ModuleInjector сервисы существуют в
  приложении в единственном экземпляре.
  Это значит, что два разных компонента обращаясь к зависимости
  используют один и тот же объект. Пример приведен здесь.
  Исключением являются сервисы асинхронно загружаемых модулей.
</p>
<p>
  При определении сервиса в свойстве providers модуля,
  который загружается асинхронно, использование этого сервиса возможно только
  в пределах своего модуля. Обращение к сервису из других модулей,
  даже из корневого, приведет к генерации исключения.
</p>
<h4>
  Иерархия инжекторов: ElementInjector
</h4>
<p>
  ElementInjector создается по умолчанию для каждого элемента DOM и
  конфигурируется в компонентах и директивах через свойства
  providers и viewProviders соответствующих декораторов.
  В таком случае для компонента создается отдельный экземпляр сервиса,
  даже если сервис уже сконфигурирован для ModuleInjector.
</p>
<p>
  Экземпляр сервиса, который создается на уровне компонента,
  будет использоваться при обращении к этому же сервису во всех его дочерних
  компонентах и директивах.
</p>
<p>
  Используйте свойство viewProviders, чтобы сделать экземпляр сервиса
  доступным только для текущего компонента. Изменим предыдущий пример.
</p>
<h4>
  Декоратор @Optional()
</h4>
<p>
  Использование декоратора @Optional()
  задает null в качестве значения внешней зависимости,
  если она не доступна на текущем уровне или вовсе отсутствует,
  и не генерирует исключение.
</p>
<pre>
  <code>
    import &#123;Component, Optional&#125; from '@angular/core';

    @Component(&#123;
    selector: 'app-root',
    template: `
      <h1>@Optional() usage example</h1>
    `,
    &#125;)
    export class AppComponent &#123;
    constructor(@Optional() private nonExistingService?: NonExistingService)&#123;
        console.log(nonExistingService);
      &#125;
    &#125;
  </code>
</pre>
<h4>
  Декоратор @Self()
</h4>
<p>
  Использование декоратора @Self() ограничивает поиск
  внешней зависимости текущим инжектором. В случае отсутствия зависимости,
  дальше по иерархии поиск не осуществляется и будет сгенерировано исключение.
</p>
<p>
  Декоратор @Self() часто используется совместно с @Optional().
</p>
<pre>
  <code>
    import &#123;Component, Self, Optional&#125; from '@angular/core';

    @Component(&#123;
    selector: 'app-root',
    template: `
      <h1>@Self() usage example</h1>
    `,
    &#125;)
    export class AppComponent &#123;
    constructor(@Self() @Optional() private anyService?: AnyService)&#123;
        console.log(nonExistingService);
      &#125;
    &#125;
  </code>
</pre>
<p>
  Здесь всегда результатом будет null, поскольку для AppComponent не определен локальный сервис AnyService.
</p>
<pre>
  <code>
    ...
    @Component(&#123;
    ...
    providers: [AnyService]
    &#125;)
    ...
  </code>
</pre>

<h4>
  Декоратор @SkipSelf()
</h4>
<p>
  Использование декоратора @SkipSelf() позволяет пропустить
  инжектор текущего уровня и начать поиск зависимости со следующего
  далее по иерархии инжектора.
</p>
<p>
  Декоратор @SkipSelf() можно использовать для одновременного
  досутпа к двум разным экзмеплярам одного и того же сервиса,
  определенных в разных инжекторах: ElementInjector и ModuleInjector.
</p>
<pre>
  <code>
     @Injectable(&#123;providedIn: 'root'&#125;)
        export class DataService&#123;
        value: number = 1;
    &#125;
  </code>
</pre>
<pre>
  <code>

    import &#123;Component, SkipSelf&#125; from '@angular/core';
    import &#123;DataService&#125; from './services/data.service';

    @Component(&#123;
    selector: 'app-root',
    template: `
      <h1>@SkipSelf() usage example</h1>
    `,
    providers: [DataService]
    &#125;)
    export class AppComponent &#123;
    constructor(@SkipSelf() private moduleDataService: DataService, private elementDataService: DataService)&#123;
        moduleDataService.value = 2;
        console.log('Module', moduleDataService.value);
        console.log('Element', elementDataService.value);
      &#125;
    &#125;
  </code>
</pre>
<h4>
  Декоратор @Host()
</h4>
<p>
  Использование декоратора @Host() обозначает текущий уровень
  как последний при поиске зависимости, относительно которой он применяется.
  Часто @Host() используется совместно с декоратором @Optional().
</p>
<pre>
  <code>
    import &#123;Component, Host, Optional&#125; from '@angular/core';

    @Component(&#123;
      selector: 'app-root',
      template: `
        <h1>@Host() usage example</h1>
      `,
      providers: [DataService]
    &#125;)
    export class AppComponent &#123;
      constructor(@Optional() @Host() private nonExisting?: NonExistingService)&#123;&#125;
    &#125;
  </code>
</pre>
<h4>
  Провайдеры
</h4>
<p>
  Основная задача Dependency Injection в Angular -
  предоставление компонентам, директивам и сервисам внешних зависимостей,
  способ создания которых описывается провайдерами.
  По умолчанию, при обращении к указанному в свойстве providers классам
  предоставляется экземпляр этих самих классов.
</p>
<p>
  Для переопределения поведения по умолчанию массиву providers в
  качестве элемента можно передать объект.
</p>
<pre>
  <code>
    ...
    providers: [
    &#123;
        provide: DataService,
        useExisting: DataService
      &#125;
    ]
    ...
  </code>
</pre>
<p>
  Описывающий провайдер объект обязательно должен
  содержать свойство provide и одно из свойств,
  описывающих способ создания указанной в provide зависимости:
</p>
<ul>
  <li>
    useClass - каждый раз при обращении к зависимости, указанной в provide,
    создается новый экземпляр класса, указанного в useClass;
  </li>
  <li>
    useExisting - каждый раз при обращении к зависимости, указанной в provide,
    используется один и тот же экземпляр класса, указанного в useExisting;
  </li>
  <li>
    useValue - при обращении к зависимости, указанной в provide,
    используется значение, указанное в useValue;
  </li>
  <li>
    useFactory и deps - создают зависимость динамически уже в процессе
    работы приложения с помощью фабричной функции.
  </li>
</ul>
<p>
  С помощью useFactory обычно создаются провайдеры, имеющие в качестве зависимостей сторонние модули или библиотеки,
  для которых не предусмотрена возможность работы с Dependency Injection.
</p>
<h4>
  Injection-токен
</h4>
<p>
  Injection-токен представляет собой уникальный признак,
  который идентифицирует провайдер среди всех остальных.
  Именно по нему и запрашивается провайдер. В большинстве случаев
  Injection-токеном является сам класс провайдера, но в случае определения
  зависимости с помощью объекта класс не всегда может существовать.
  В частности, это актуально для зависимостей, определенных с помощью
  useValue, когда значением является константа.
</p>
<p>
  Для таких случаев в Angular имеется класс InjectionToken,
  экземпляры которого являются Injection-токенами.
</p>
<p>
  Конструктор класса InjectionToken принимает два параметра:
</p>
<ul>
  <li>
    уникальный строковый идентификатор (обязательный);
  </li>
  <li>
    объект конфигурации (необязательный).
  </li>
</ul>
<pre>
  <code>
  import &#123;DEFAULT_SETTINGS &#125; from './default-settings.injection-token.ts';

    ...

    providers: [ &#123;
      provide: DEFAULT_SETTINGS,
      useValue:  &#123;logging: true, requireAuth: false &#125;,
     &#125;]
    ...
  </code>
</pre>
<pre>
  <code>
     import &#123;DEFAULT_SETTINGS&#125; from './default-settings.injection-token.ts';

    ...

    export class AppComponent&#123;
    constructor(private settings: DEFAULT_SETTINGS)&#123;
        console.log(settings);
      &#125;
    &#125;
  </code>
</pre>
